
.table.table-head-fixed thead tr:nth-child(1) th {
    z-index: 1 !important;
    position: static;
}
.modal {
    z-index: 1000 !important; /* Un número alto para asegurar que el modal esté al frente */
}