.modal-contorno{
    background-color: white;
    max-width: 500px;
    margin: 0 auto;
    padding: 16px;
    border-radius: 15px;
    margin-top: 7%;
}

@media only screen and (max-width: 1006px) {
    .modal-dialog {
        padding-top: 8%;
    }
}

@media only screen and (max-width: 620px) {
    .modal-dialog {
        padding-top: 10%;
    }

    .modal-contorno {
        max-width: 400px;
    }
    
}

@media only screen and (max-width: 485px) {
    .modal-dialog {
        padding-top: 12%;
    }
    .modal-contorno {
        max-width: 320px;
    }
    
}

@media only screen and (max-width: 342px) {
    .modal-dialog {
        padding-top: 14%;
    }

    .modal-contorno {
        max-width: 280px;
    }
    
}