.custom-search input {
    border: none;
    outline: none;
    flex-grow: 1;
    width: 100%;
}

.modal { 
    background: rgba(0, 0, 0, 0.5); 
    padding-top: 10% ;
    padding-left: 8% ;    
}



@media only screen and (max-width: 823px) {
    .modal {
        padding-top: 12% !important;
    }
    
}

@media only screen and (max-width: 576px) {
    .modal {
        padding-top: 15% !important;
    }
    .content-header h1 {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 380px) {
    .modal {
        padding-top: 22% !important;
    }
    
}