.modal {
    background: rgba(0, 0, 0, 0.5);
    padding-top: 7% ;
    padding-left: 6% ;
}

@media (max-width: 750px) {
    .table-responsive2 {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

}


@media only screen and (max-width: 823px) {
    .modal {
        padding-top: 10% !important;
    }
}

@media only screen and (max-width: 576px) {
    .modal {
        padding-top: 15% !important;
    }
}

@media only screen and (max-width: 380px) {
    .modal {
        padding-top: 20% !important;
    }
}